USE [master]
GO
/****** Object:  Database [ASPNETMVC]    Script Date: 5/26/2020 11:23:08 PM ******/
CREATE DATABASE [ASPNETMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASPNETMVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ASPNETMVC.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ASPNETMVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ASPNETMVC_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASPNETMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASPNETMVC]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[username_admin] [nvarchar](255) NOT NULL,
	[password_admin] [nvarchar](255) NOT NULL,
	[name_admin] [nvarchar](255) NULL,
	[phone_admin] [int] NOT NULL,
	[email_admin] [nvarchar](255) NOT NULL,
	[level_admin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[username_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_brand]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_brand](
	[id_brand] [int] IDENTITY(1,1) NOT NULL,
	[name_brand] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_brand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_cat]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_cat](
	[id_cat] [int] IDENTITY(1,1) NOT NULL,
	[id_customer] [int] NULL,
	[name_product] [nvarchar](255) NULL,
	[ssid_cat] [nvarchar](255) NULL,
	[price_product] [bigint] NULL,
	[size_product] [varchar](20) NULL,
	[quantity_cat] [int] NULL,
	[image_product] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_category](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[name_category] [nvarchar](255) NOT NULL,
	[size_category] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_city]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_city](
	[id_city] [varchar](5) NOT NULL,
	[name_city] [nvarchar](100) NULL,
	[type_city] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_customer]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customer](
	[id_customer] [int] IDENTITY(1,1) NOT NULL,
	[username_customer] [nvarchar](255) NOT NULL,
	[password_customer] [nvarchar](255) NOT NULL,
	[name_customer] [nvarchar](255) NOT NULL,
	[email_customer] [nvarchar](255) NOT NULL,
	[phone_customer] [int] NOT NULL,
	[city_customer] [int] NULL,
	[district_customer] [int] NULL,
	[address_customer] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_district]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_district](
	[id_district] [varchar](10) NOT NULL,
	[name_district] [nvarchar](100) NULL,
	[type_district] [nvarchar](30) NULL,
	[id_city] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_district] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_order]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_order](
	[id_order] [int] IDENTITY(1,1) NOT NULL,
	[date_order] [datetime] NULL,
	[buyer_order] [nvarchar](255) NULL,
	[consignee_order] [nvarchar](255) NULL,
	[phone_order] [int] NULL,
	[address_order] [nvarchar](255) NULL,
	[totalprice_order] [bigint] NULL,
	[status_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_orderdetails]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_orderdetails](
	[id_details] [int] IDENTITY(1,1) NOT NULL,
	[id_order] [int] NULL,
	[name_product] [nvarchar](255) NULL,
	[size_product] [nvarchar](20) NULL,
	[quantity_order] [int] NULL,
	[image_product] [varchar](255) NULL,
	[price_product] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_details] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_product]    Script Date: 5/26/2020 11:23:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_product](
	[id_product] [int] IDENTITY(1,1) NOT NULL,
	[name_product] [nvarchar](255) NULL,
	[id_category] [int] NULL,
	[id_brand] [int] NULL,
	[size_product] [nvarchar](20) NULL,
	[price_product] [bigint] NULL,
	[image_product] [varchar](255) NULL,
	[quantity_product] [int] NULL,
	[type_product] [int] NULL,
	[discription_product] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_brand] ON 

INSERT [dbo].[tbl_brand] ([id_brand], [name_brand]) VALUES (1, N'ADIDAS')
INSERT [dbo].[tbl_brand] ([id_brand], [name_brand]) VALUES (2, N'NIKE')
INSERT [dbo].[tbl_brand] ([id_brand], [name_brand]) VALUES (3, N'VANS')
SET IDENTITY_INSERT [dbo].[tbl_brand] OFF
SET IDENTITY_INSERT [dbo].[tbl_category] ON 

INSERT [dbo].[tbl_category] ([id_category], [name_category], [size_category]) VALUES (1, N'SHOES', N'35')
INSERT [dbo].[tbl_category] ([id_category], [name_category], [size_category]) VALUES (2, N'SHOES', N'36')
INSERT [dbo].[tbl_category] ([id_category], [name_category], [size_category]) VALUES (3, N'SHOES', N'37')
SET IDENTITY_INSERT [dbo].[tbl_category] OFF
INSERT [dbo].[tbl_city] ([id_city], [name_city], [type_city]) VALUES (N'01', N'Thành ph? Hà N?i', N'Thành ph? Trung uong')
INSERT [dbo].[tbl_city] ([id_city], [name_city], [type_city]) VALUES (N'02', N'T?nh Hà Giang', N'T?nh')
INSERT [dbo].[tbl_city] ([id_city], [name_city], [type_city]) VALUES (N'04', N'T?nh Cao B?ng', N'T?nh')
INSERT [dbo].[tbl_district] ([id_district], [name_district], [type_district], [id_city]) VALUES (N'001', N'Qu?n Ba Ðình', N'Qu?n', N'01')
INSERT [dbo].[tbl_district] ([id_district], [name_district], [type_district], [id_city]) VALUES (N'002', N'Qu?n Hoàn Ki?m', N'Qu?n', N'01')
INSERT [dbo].[tbl_district] ([id_district], [name_district], [type_district], [id_city]) VALUES (N'003', N'Qu?n Tây H?', N'Qu?n', N'01')
GO
SET IDENTITY_INSERT [dbo].[tbl_product] ON 

INSERT [dbo].[tbl_product] ([id_product], [name_product], [id_category], [id_brand], [size_product], [price_product], [image_product], [quantity_product], [type_product], [discription_product]) VALUES (1, N'Nike Air Force 1 React', 1, 2, N'36', 250, N'2.jpg', 1000, 1, N'Step into a new AF1 world with the Nike Air Force 1 React, a blush take on counterculture design with iconic Nike b-ball style. The oversized Swoosh, large "AIR" design on the midsole and new outsole pattern let you express modern style while Nike React technology adds exceptional comfort.')
INSERT [dbo].[tbl_product] ([id_product], [name_product], [id_category], [id_brand], [size_product], [price_product], [image_product], [quantity_product], [type_product], [discription_product]) VALUES (2, N'Nike Sportswear
 tie dye', 16, 2, N'XL', 50, N'1.jpg', 1000, 1, N'The Nike Sportswear T-Shirt features an all-over tie-dye print and pixelated graphic printed on soft cotton fabric for an out-of-focus look with a soft feel.')
SET IDENTITY_INSERT [dbo].[tbl_product] OFF
ALTER TABLE [dbo].[tbl_cat]  WITH CHECK ADD FOREIGN KEY([id_customer])
REFERENCES [dbo].[tbl_customer] ([id_customer])
GO
ALTER TABLE [dbo].[tbl_district]  WITH CHECK ADD FOREIGN KEY([id_city])
REFERENCES [dbo].[tbl_city] ([id_city])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_orderdetails]  WITH CHECK ADD FOREIGN KEY([id_order])
REFERENCES [dbo].[tbl_order] ([id_order])
GO
ALTER TABLE [dbo].[tbl_product]  WITH CHECK ADD FOREIGN KEY([id_category])
REFERENCES [dbo].[tbl_category] ([id_category])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_product]  WITH CHECK ADD FOREIGN KEY([id_brand])
REFERENCES [dbo].[tbl_brand] ([id_brand])
ON DELETE CASCADE
GO
USE [master]
GO
